<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="612" alt="Angular Logo" src="/assets/picture1.jpg">
  <app-captains-orders></app-captains-orders>
</div>
<h2 class="morerules">Land-lubbers half price on Tuesday, and exclusively double price or nothing sale on week days: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Merchandise</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Special Message From Your Captain</a></h2>
  </li>
</ul>

